<html>


<head>
    <title>Clásicos del Rock Nacional</title>
</head>

<body>
    <div style="background: rgb(10, 10, 10);">
        <h1><a href="/">Clásicos del Rock Nacional</a></h1>
    </div>
    <!-- Filtro por usuario usando enlaces -->
    <div class="filtro-usuarios">
    <strong>Filtrar por autor:</strong>
   
    <!-- Opción "Todos" -->
    <a href="?" class="usuario-filtro {% if not usuario_activo %}activo{% endif %}">
        Todos
    </a>
   
    <!-- Opciones por usuario -->
    {% for usuario in usuarios %}
        <a href="?usuario={{ usuario.id }}"
           class="usuario-filtro {% if usuario_activo == usuario.id %}activo{% endif %}">
            {{ usuario.username }}
        </a>
    {% endfor %}
   </div>

   <!-- Lista de publicaciones -->

   <div>
    {% for publicacion in publicaciones %}
    <p>Publicado: {{ publicacion.fecha_publicacion }} por autor/a: {{ publicacion.autor.username }} </p>
    <h2> <a href=""> {{publicacion.titulo}} </a> </h2>
    <p> {{ publicacion.texto|linebreaksbr }} </p>
    <hr>    
    {% endfor %}
   </div>
</body>


</html>