{% load static %}
<html>
    <head>
        <title>Clasicos del Rock Nacional</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/discos.css' %}">

    </head>

    <body>
    <div class="page-header">
        <h1>Clásicos del Rock Nacional</h1>
    </div>

        {% for publicacion in publicaciones %}
            <div class="Discos">
                <img src="{{ publicacion.imagen }}">
                <div class="contenido">
                    <h2>{{ publicacion.titulo }}</h2>
                    <p>{{ publicacion.texto|linebreaksbr }}</p>

                    {% if publicacion.cancion_destacada %}
                        <p class="cancion">Canción destacada: {{ publicacion.cancion_destacada }}</p>
                    {% endif %}

                    {% if publicacion.motivo_destacada %}
                        <p class="motivo">{{ publicacion.motivo_destacada }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </body>
</html>